  <%= link_to "Logout", "/", method: :delete%>
  <h1><%="#{current_user.first_name} #{current_user.last_name}'s" %> Home page!!</h1> <br>
  <img src= <%="#{current_user.avatar}"%>>
  current user id: <%=session[:current_user_id]%><br>
  test_email: <strong><%=User.first.email%></strong><br>



<% Post.all.each do |post| %>
  <div class="post">
    <h3><img class="poster-info" src=<%= post.user.avatar %>><%= post.user.first_name %> <%= post.user.last_name %></h3>
    <p><%= post.text %></p>
    <div>
      <%= link_to "Nice", url: "#", class:"" %>
      <%= link_to "Comment", url: "#", class:"" %>
    </div>
    <%= "+#{post.nices.count}" %>
    <p class="updated-at" ><%= post.updated_at %></p>
  </div>

<% end %>
