current user id: <%=session[:current_user_id]%><br>
test_email: <strong><%=User.first.email%></strong><br>
test_password: <strong>aaaaaa</strong><br>
<h3><%=flash[:notice]%></h3>
<h1>Welcome to db:social</h1>
<%= form_for :user  do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>

<%= link_to new_user_path do %>
<button>Sign Up</button>
<% end %>

