<div class="login-form">

    <%= form_for :user, url: sessions_path do |f| %>

    <% flash.each do |key, value| %>
      <p><%= value %></p>
    <% end %>

    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.submit "Login" %>
    </p>

  <% end %>
  <br>
  <hr>
  <br>
  New users click here!
  <%= link_to new_user_path do %>
    <button class="submit">Create new account</button>
  <% end %>

</div>
