<!DOCTYPE html>
<html>
<head>
  <title>DbSocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if current_user %>
<h3>current user id: <%=session[:current_user_id]%></h3>
  <%= link_to "DBC Resources", resources_path %>
  <%= link_to "Logout", "/sessions/:id", method: :delete%>
<%end%>
<body>

<%= yield %>

</body>
</html>
