<h2>Update Details</h2>
   <%= link_to "Change Password", "/users/#{@user.id}/passwords" %>

  <hr>
  <%= form_for @user do |f| %>
  <% if current_user.admin && current_user != @user %>
  <p>
    <%= check_box_tag(:admin, 1, if @user.admin then true end) %>
    <%= label_tag(:admin, "Admin") %>
  </p>
  <% end %>
  <p>
    <%= f.label :first_name %><br>
    <% if @user.errors[:first_name].any? %>
    <ul>
      <% @user.errors[:first_name].each do |message| %>
       <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
      <% if @user.errors[:last_name].any? %>
    <ul>
      <% @user.errors[:last_name].each do |message| %>
       <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %><br>
      <% if @user.errors[:email].any? %>
    <ul>
      <% @user.errors[:email].each do |message| %>
       <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
    <%= f.text_field :email %>
  </p>


  <p>
    <%= f.label :quirk %><br>
    <%= f.text_field :quirk %>
  </p>

  <p>
    <%= f.label :tweet_size_advice %><br>
    <%= f.text_field :tweet_size_advice %>
  </p>

  <p>
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<%end%>

