  <h2>Update Details</h2>
   <%= link_to "Change Password", "/users/#{@user.id}/password" %>
  <hr>
<%= form_for :user, url: "/users/#{@user.id}", method: "put" do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>


  <p>
    <%= f.label :quirk %><br>
    <%= f.text_field :quirk %>
  </p>

  <p>
    <%= f.label :tweet_size_advice %><br>
    <%= f.text_field :tweet_size_advice %>
  </p>

  <p>
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<%end%>

