<div class="login-form">

  <h1>Sign Up Form</h1>

  <%= form_for @user do |f| %>


    <p>
      <%= f.label :first_name %><br>
      <% if @user.errors[:first_name].any? %>
      <ul>
        <% @user.errors[:first_name].each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name %><br>
      <% if @user.errors[:last_name].any? %>
      <ul>
        <% @user.errors[:last_name].each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label :email %><br>
      <% if @user.errors[:email].any? %>
      <ul>
        <% @user.errors[:email].each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %><br>
      <% if @user.errors[:password].any? %>
      <ul>
        <% @user.errors[:password].each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <%= f.password_field :password, placeholder: "Must be at least 6 characters" %>

    </p>

    <p>
      <%= f.submit "Submit" %>
    </p>


  <% end %>

</div>

