<%= form_for :post, url: posts_path, html: {class: "edit-post", data_attr: post.id}, remote: true    do |f| %>

  <% flash.each do |key, value| %>
    <p><%= value %></p>
  <% end %>

  <p>
    <%= f.label "Edit" %><br>
    <%= f.text_area :text, :placeholder => post.text %>
  </p>

  <p>
    <%= f.submit "Post"%>
  </p>
<% end %>
