
<div class="post-container" data-post-container-id=<%= post.id%>>

  <%= link_to image_tag(post.user.avatar), "/users/#{post.user_id}/" %>

  <div class="post-container-inner">

    <h3 class="poster-info"><%= link_to "#{post.user.first_name} #{post.user.last_name}", "/users/#{post.user_id}/"%></h3>

    <div class="post-text" data-post-id=<%= post.id%>>
      <p><%= post.text %></p>
    </div>

  </div>

    <div class="nice-action" data-nice-container-id=<%= post.id%>>
      <p class="nice-count"><%= "+#{post.nices.count}" %></p>
      <%= link_to "N" + ("i"*post.nices.count) + "ce", post_nices_path(post), class: "nice-link", remote: true %>
      <%= link_to "Comment", url: "#", class: "comment-link" %>
    </div>

    <div class="delete-edit-action">
      <% if current_user.id == post.user.id %>
        <%= link_to "Delete", posts_path, data_attr: post.id, class: "delete-post", remote: true %>
        <%= link_to "Edit", posts_path(post), class: "edit-post-form", remote: true %>
      <% end %>
    </div>

    <p class="updated-at" ><%= post.updated_at %></p>

</div>
