<div class="post-container">
  <img src=<%= post.user.avatar %>>
  <div class="post-container-inner">
    <h3 class="poster-info"><%= post.user.first_name %> <%= post.user.last_name %></h3>
    <p><%= post.text %></p>
  </div>
  <div class="nice-action">
    <p class="nice-count"><%= "+#{post.nices.count}" %></p>
    <%= link_to "Nice", url: "#", class: "nice-link" %>
    <%= link_to "Comment", url: "#", class: "comment-link" %>
    <p class="updated-at" ><%= post.updated_at %></p>

  </div>
  
</div>
