<div class="boot-profile">
  <!-- <h1 class="user-name"><img class="user-avatar" src=<%#="#{current_user.avatar}"%>><%#="#{current_user.first_name} #{current_user.last_name}" %></h1> -->
  <% flash.each do |key, value| %>
    <p><%= value %></p>
  <% end %>
  <h1 class="user-name"><%= link_to image_tag(current_user.avatar, class: "user-avatar"), "/users/#{current_user.id}/" %><%=link_to"#{current_user.first_name} #{current_user.last_name}", "/users/#{current_user.id}/" %></h1>

    <h4>Favorite Resources:</h4>
    <ul>
      <% current_user.resources.each do |resource| %>
        <li><%= link_to resource.name, resource.url %></li>
      <% end %>
    </ul>

  <div class="temp-user-id">
    <p>current user id: <%=session[:current_user_id]%></p>
    <p>test_email: <strong><%=current_user.email%></strong></p>
  </div>
</div>

<div class="new-post-form-container">
  <%= form_for :post, url: posts_path  do |f| %>
    <p><%= f.submit "New Post", id: "new-post-button" %></p>
  <% end %>

  <div class="post-form hidden">
    <%= render partial: "posts/new_post", layout: false %>
  </div>
</div>


<div class="all-posts">
  <% @posts.each do |post| %>
    <%= render partial: "posts/post_container", layout: false, locals: {post: post} %>
  <% end %>
</div>

