<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<img src=<%=@user.avatar %>>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Quirk: </strong><%= @user.quirk %></p>
<p><strong>Tweet Sized Piece of Advice: </strong><%= @user.tweet_size_advice %></p>
<h4>Favorite Resources:</h4>
<ul>
  <% @user.resources.each do |resource| %>
    <li><%= link_to resource.name, resource.url %></li>
  <% end %>
</ul>
<% if current_user == @user %>
  <%= link_to "Edit", edit_user_path(current_user) %>
<% end %>

